/*Style body background color and font*/
body {background-color:black; font-family: Arial; height: 100%}
/*body header formatting*/
h1{color:grey; font-family: Verdana;}
/*Formatting for the division that holds all form items*/
.maindiv{background-color: white; 
         color: black;
         height: 100%;
         border-radius: 5%;
         width: auto;
         text-align: center;
}


